@tailwind components;

@layer components {
  .dash-title {
    @apply text-[#3B82F6]
    text-3xl
    font-light
    p-4
    text-center;
  }

  .dash-grid {
    @apply grid
    grid-cols-3
    py-12
    px-40
    gap-12;
  }

  .dash-piller-container {
    @apply flex
    justify-center
    flex-col;
  }

  .dash-piller {
    @apply w-full
    h-full
    relative
    min-h-96
    bg-white/50
    rounded-md
    shadow;
  }

  .dash-drag-toggeler {
    @apply w-full
    h-full
    absolute
    left-0
    top-0
    z-50
    cursor-grab;
  }

  .dash-piller-title {
    @apply text-lg
    font-light
    text-center
    rounded-t-md
    bg-white
    w-full
    border-b
    py-3;
  }

  .dash-reorder {
    @apply flex
    flex-col
    gap-y-2
    p-4;
  }
  .dash-delete-edit-container {
    @apply fixed
    w-full
    flex
    justify-between
    gap-x-4
    top-0
    left-0
    p-8
    z-40;
  }

  .dash-delete {
    @apply bg-[#EF4444]/40
    text-[#EF4444]
    relative
    text-xl
    w-12
    rounded
    aspect-square
    flex
    justify-center
    items-center;
  }

  .dash-delete-edit-pointer-card {
    @apply w-32
    aspect-square
    absolute
    left-1/2
    -translate-x-1/2
    -translate-y-1/2
    top-1/2
    z-50
    cursor-grab;
  }

  .dash-edit {
    @apply bg-[#3b82f6]/40
    text-[#3b82f6]
    relative
    text-xl
    w-12
    rounded
    aspect-square
    flex
    justify-center
    items-center;
  }

  .dash-add-task-btn {
    @apply text-lg
    font-semibold
    bg-[#3b82f6]
    text-white
    z-50
    flex
    justify-center
    items-center
    rounded
    py-1
    px-12
    cursor-pointer
    hover:bg-[rgb(70,139,251)]
    shadow-[0_0_7px_2px_rgba(59,130,246,0.3)]
    hover:shadow-[0_0_7px_2px_rgba(70,139,251,0.3)]
    transition-all;
  }

  .dash-add-task-btn-container {
    @apply w-full
    flex
    justify-center
    items-center
    z-50;
  }

  .dash-signout-btn {
    @apply text-white
    bg-[#3b82f6]
    hover:bg-[rgb(70,139,251)]
    shadow-[0_0_7px_2px_rgba(59,130,246,0.3)]
    hover:shadow-[0_0_7px_2px_rgba(70,139,251,0.3)]
    rounded-full
    !py-4
    !px-5
    text-sm;
  }
}
